@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  /* --- Color Palette --- */
  --color-bg: #FFFFFF;
  --color-text: #2C2C2C;  
  --color-border: #E0E0E0;
 
  --color-primary: #1E4D55; 
  --color-primary-medium: #13343A; 
  --color-primary-dark: #081619;
  --color-accent: #C0A062;  
  --color-accent-glow: rgba(192, 160, 98, 0.15);

  /* --- Fonts --- */
  --font-body: 'Inter', sans-serif;
  --font-alternative: 'Space Mono', monospace;
  --font-heading: 'Roboto Slab', serif;
  
  --border-radius: 4px;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0; 
  padding: 0;
  padding-top: 70px; /* Ruimte voor de vaste navbar */ 
  width: 100%;
  overflow-x: hidden;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
  line-height: 1.6; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  color: var(--color-text); 
}

a {
  color: var(--color-primary); 
  text-decoration: none;
}

html { 
  scroll-behavior: smooth;
}